<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Debug-only second launcher icon that opens the design-system catalog. -->
        <activity
            android:name=".catalog.DesignSystemPreviewActivity"
            android:exported="true"
            android:label="@string/ds_catalog_label"
            android:theme="@style/Theme.ScanForge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
